basemap
cartopy
ctd
cython
descartes
fiona
folium
gdal
geojson
geojsonio
geopandas
gsw
jupyter
iris
matplotlib
numpy
oceans
oct2py
pandas
pip
pyproj
pywafo
rasterio
requests
scikit-learn
scipy
seaborn
shapely
statsmodels
sympy
xlrd
mpld3
pyoos
rdflib
qrcode
mplleaflet
utilities
beautifulsoup4
owslib
yaml
pyugrid
pysgrid
proj4
paegan
paegan-transport
